body .slide-1{
  background: #fff url("../spoiler/cap.jpg") -20px 80% no-repeat;
  }
  .slide-1 hgroup{
    color:#fff;
    position: absolute;
    right:60px;
    top:40px;
    width:400px;
    height:400px;
    display:block;
    border-radius:200px;
    vertical-align:middle;
    line-height:400px;
    z-index:3;
    }
    .slide-1 hgroup:after{
      content:".";
      position: absolute;
      top:280px;
      left:-15px;
      height:0;
      width:0;
      overflow:hidden;
      font-size:0;
      line-height:0;
      text-indent:-9999px;
      border-style:solid;
      border-width:40px 20px 0;
      border-color: #000 transparent transparent;
      margin:-2px 0 0 0;
      -webkit-transform: rotate(60deg);
      z-index:-1;
      display:block;
      }
    .slide-1 hgroup h1:before{
      content:".";
      position: absolute;
      width:400px;
      height:400px;
      top:0;
      left:0;
      overflow:hidden;
      text-indent:-9999px;
      display:block;
      border-radius:200px;
      background-color: #000;
      z-index:-1;
      }
    .slide-1 hgroup h1{
      z-index:3;
      vertical-align:middle;
      display:inline-block; 
      font: 42px/48px 'PT Sans Caption',sans-serif;
      }
      .slide-1 hgroup h1 b{
        font: 160px/160px 'PT Sans Caption',sans-serif; 
        }